*.pyc
*.DS_Store
*~
pip-log.txt
uploads/*
graphed_models.png
.idea*
static/
build/
*.log
settings/local.py
node_modules/
git-hash.txt
*.backup
.coverage
npm-debug.log
env
db.sqlite3
CACHE
media/
secrets.json
